.dialog-pane .button  {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, lightgrey, 5, 0.1, 0.0, 5.0);
}
.dialog-pane .button:hover {
    -fx-background-color: lightgrey;
}
.dialog-pane .button:focused {
    -fx-border-color: #BDBDBD;
    -fx-border-radius: 2;
}
.dialog-pane .button:armed {
    -fx-background-color: #e3e3e3;
}
