.button {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 15;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, lightgrey, 5, 0.1, 0.0, 5.0);
}
.button:hover {
    -fx-background-color: lightgrey;
}
.button:focused {
    -fx-border-color: #BDBDBD;
    -fx-border-radius: 2;
}
.button:armed {
    -fx-background-color: #e3e3e3;
}
