.toggle-button {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20;
    -fx-background-color: #F3F1F5;
    -fx-effect: dropshadow(gaussian, darkgrey, 10, 0.1, 0.0, 5.0);
    -fx-background-image: url("../edit.png");
}

.toggle-button:selected {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: lightgrey;
    -fx-background-image: url("../edit-dimmed.png");

}